@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 27% 22%;
    --foreground: 220 13% 91%;
    --card: 220 27% 25%;
    --card-foreground: 220 13% 91%;
    --popover: 220 27% 25%;
    --popover-foreground: 220 13% 91%;
    --primary: 230 65% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 27% 30%;
    --secondary-foreground: 220 13% 91%;
    --muted: 220 27% 30%;
    --muted-foreground: 220 13% 70%;
    --accent: 198 100% 72%;
    --accent-foreground: 220 27% 12%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 27% 30%;
    --input: 220 27% 30%;
    --ring: 198 100% 72%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 27% 22%;
    --foreground: 220 13% 91%;
    --card: 220 27% 25%;
    --card-foreground: 220 13% 91%;
    --popover: 220 27% 25%;
    --popover-foreground: 220 13% 91%;
    --primary: 230 65% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 27% 30%;
    --secondary-foreground: 220 13% 91%;
    --muted: 220 27% 30%;
    --muted-foreground: 220 13% 70%;
    --accent: 198 100% 72%;
    --accent-foreground: 220 27% 12%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 27% 30%;
    --input: 220 27% 30%;
    --ring: 198 100% 72%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
