@media print {
  body {
    background-color: white !important;
    color: black !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    margin: 0;
    padding: 0;
  }

  .print-hidden {
    display: none !important;
  }

  .print-block {
    display: block !important;
  }

  /* Ensure the main app content is hidden */
  main > div.print-hidden {
    display: none !important;
  }
  
  /* Ensure the body only contains the printable content */
  body > div:not(.print-block), body > header, body > main > *:not(.print-block) {
    display: none !important;
  }

  @page {
    size: A4;
    margin: 1.5cm;
  }
}
